.task-edit-sidebar {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #1e2020;
  background: #2a2d2f;
}

.task-edit-sidebar-closed {
  transition: all 350ms ease-in-out;
  width: 0px;
  /* transform: translateX(600px); */
  opacity: 0;
}

.task-edit-sidebar-open {
  transition: all 350ms ease-in-out;
  width: 600px;
  /* transform: translateX(0px); */
  opacity: 1;
}

.task-edit-sidebar-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.task-edit-sidebar-items {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}

.task-edit-sidebar-spacer {
  flex: 1;
}

.task-edit-sidebar-footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  color: rgb(199, 199, 199);
}

.task-edit-sidebar-footer-form {
  width: 100%;
}

.task-edit-sidebar-icon:hover {
  cursor: pointer;
}
