.task-item-important-yes {
  animation: bounce 350ms ease-in-out;
  transition: all 1s ease;
  color: #ff4081;
}

.task-item-important-no {
  animation: bounceBack 350ms ease-in-out;
  transition: all 300ms ease;
  color: #666666;
}

.task-item-important-no:hover {
  transition: all 300ms ease;
  color: #cccccc;
}
