.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-card {
  display: flex;
  flex-flow: column;
  padding: 64px;
  border-radius: 4px;
  width: 340px;
}

.signup-input-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 12px 16px;
  background: #2f3234;
  color: rgb(199, 199, 199);
  border-radius: 4px;
  margin-bottom: 16px;
}

.app-button {
  transition: all 500ms ease;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12pt;
}

.app-button:disabled {
  transition: all 500ms ease;
  background-color: #2f3234;
}
