.item {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 8px 16px;
  color: rgb(199, 199, 199);
  margin-bottom: 4px;
}

.item:hover {
  cursor: pointer;
  background: #2f3234;
}

.item-selected {
  cursor: pointer;
  background: #2f3234;
}

.item-prefix {
  min-width: 22px;
  text-align: center;
  margin-right: 16px;
  color: #888888;
  font-size: small;
}

.item-title {
  flex: 1;
}

.item-sufix {
  font-size: small;
  font-weight: 300;
  color: #888888;
}
