.bg-dark {
  background: #2a2d2f;
}

.bg-darker {
  background: #202122;
}

.bg-primary {
  background: #448aff;
  color: whitesmoke;
}

.bg-accent {
  background: #ff4081;
  color: whitesmoke;
}

.color-primary {
  color: #448aff;
}

.color-accent {
  color: #ff4081;
}

.color-danger {
  color: #fc3535;
}

.color-darker {
  color: #666666;
}
