@import './animations.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* transparent input */
.transparent-input {
  width: 100%;
  background: transparent !important;
  border: transparent !important;
  height: 24px;
  color: whitesmoke;
  font-size: 12pt;
}

.transparent-input:focus {
  outline: none;
}


